<form action="/accountpage" method="POST">
  <label for="classname">Class to be added:</label>
  <input type="text" id="classname" name="classname"><br><br>
  <input type="submit" value="Submit">
</form>